* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 80px;
}
.list-container {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-left: 28%;
  padding: 30px;
  font-weight: bold;
}
#Welcome {
  display: flex;
  background-color: #f8f7ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}
.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hello-button {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 15px;
  font-family: "Finlandica Text", sans-serif;
  width: 150px;
}
a {
  color: black;
  height: 15px;
}
.personal-information {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.skills {
  background-color: #f8f7ff;
}
.skills-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.skills-card {
  background-color: white;
  height: 150px;
  width: 150px;
  padding: 35px 20px;
  border-radius: 25px;
  box-shadow: 0 2px 10px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f8f7ff;
}
.skill-text {
  font-family: "Figtree", sans-serif;
}
.skills-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: 1200px;
  padding-left: 250px;
}
.skill-image {
  width: 50px;
  height: 50px;
}
#education {
  background-color: #f8f7ff;
}
.education-header {
  display: flex;
  justify-content: center;
  padding: 30px 30px;
}
.education-card {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.education-card {
  gap: 10px;
  box-shadow: 0 2px 10px #0000001a;
  background-color: #f8f7ff;
  font-family: "Figtree", sans-serif;
}
.marks {
  color: #9a8c98;
}
.contact {
  background-color: #f8f7ff;
}
.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  padding: 50px;
  gap: 10px;
}
