* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 80px;
}
.list-container {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-left: 22%;
  padding: 30px;
  font-weight: bold;
}
